.reset-password-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  backdrop-filter: blur(5px); /* Blur effect for background image */
  position: relative;
  z-index: 1;
}

/* Background image styling */
body {
  content: '';
  background-image: url("/assets/resetpassword.jpeg"); /* Path to your background image */
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Header styling */
.reset-password-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff;
}

/* Form group styling */
.form-group {
  margin-bottom: 15px;
}

/* Label styling */
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffffff;
}

/* Input styling */
.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Button styling */
button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #740606;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #1b0501;
}

/* Success and error message styling */
.success-message {
  color: #ffffff;
  margin-bottom: 15px;
  text-align: center;
}

.error-message {
  color: #f80000;
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
}

/* Input focus styling */
.form-group input:focus {
  border-color: #007bff;
  outline: none;
}

/* Responsive design */
@media (max-width: 480px) {
  .reset-password-container {
    padding: 15px;
  }

  .form-group input {
    font-size: 14px;
  }

  button[type="submit"] {
    font-size: 14px;
  }
}