<div class="loginmain">
  <div class="logincontainer">
    <div class="logwraper">
      <h2>Reset Password</h2>
      <form (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm">
        <div class="formwraper">
          <input
            type="password"
            id="password"
            class="form-control"
            [(ngModel)]="password"
            name="password"
            placeholder="Password"
            required
          />

          <input
            type="password"
            id="confirmPassword"
            class="form-control"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            placeholder="Confirm Password"
            required
          />

          <button type="submit" class="btn btn-primary">
            Reset Password
          </button>
          <div *ngIf="message" class="alert alert-success mt-3">
            {{ message }}
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger mt-3">
            {{ errorMessage }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>