<div class="search-container">
  <div class="input-container">
    <input [(ngModel)]="itemName" placeholder="Enter menu item name" />
    <button (click)="search()">Search</button>
  </div>

  <div *ngIf="restaurants.length > 0" class="results-container">
    <ul>
      <li *ngFor="let restaurant of restaurants">
        {{ restaurant.restaurantName }} - {{ restaurant.restaurantAddress }} - 
        <button class="btn" (click)="viewMenu(restaurant.restaurantName)">
          <i class="fa fa-bars"></i> View Menu
        </button>
      </li>
    </ul>
  </div>
  
  <div *ngIf="restaurants.length === 0 && itemName.trim() !== ''" class="no-results">
    <p>No restaurants found with the menu item "{{ itemName }}".</p>
  </div>
</div>
