<div class="loginmain">
    <div class="logincontainer">
      <div class="logwraper">
        <h2>Forget Password</h2>
        <form (ngSubmit)="requestReset()">
          <div class="formwraper">
            <input
              type="email"
              id="email"
              class="form-control"
              [(ngModel)]="email"
              name="email"
              placeholder="Enter email"
              required
            />

            
            <button type="submit" class="btn btn-primary">Forget Password</button>
            
            <div *ngIf="message" class="alert alert-success mt-3">{{ message }}</div>
            <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
            
          </div>
        </form>
      </div>
    </div>
  </div>